// Global RESET
.header-footer-layout {
  min-width: 1280px;
  .next-btn {
    border-radius: 4px;
  }
}

.ice-layout-main {
  padding: 0 20px;
  margin-top: 82px;
}

.ice-layout-theme-dark.ice-layout-header {
  background-color: #1b5fee;
}
